<a href="https://colab.research.google.com/github/mazq-ux/ALGORITMA-PPLG-MUHAMAD-RIZQ-MAULAN/blob/main/Tugas_pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
if 5 > 2:
  print("Five is greater than two")

Five is greater than two

In [ ]:
if 5 > 2:
  print("Five is greater than two")
if 5 > 2:
  print("five is greater than two")

Five is greater than two
five is greater than two

In [ ]:
if 5 > 2:
  print("Five is greater than two")
if 5 > 2:
 print("five is greater than two")

Five is greater than two
five is greater than two

materi baru

In [ ]:
x = 5
y = "john"
print(x)
print(y)

5
john

materi baru

In [ ]:
a = str(3)
x = float(100)

print (x)
print (a)

100.0
3

lanjutan

In [ ]:
x = "john"
# is the same as
y = 'john'

print(x)
print(y)

john
john

In [ ]:
#progam studi kasus kasus kecocokan berteman

a = "rizq"+
b = "kafhi"
print("berdasarkan hasil survei :",a,"dan",b ,"adalah teman yang cocok")

berdasarkan hasil survei : rizq dan kafhi adalah teman yang cocok

rumus

In [ ]:
#studi kaus aplikasi heroscop
a = input ("masukkan pasangan 1:")
b = input ("masukkan pasangan 2:")
print ("hasil survei antara pasangan", a,"dan pasangan", b,"adalah pasangan yang cocok" )

jawaban

In [ ]:
#studi kaus aplikasi heroscop
a = input ("masukkan pasangan 1:")
b = input ("masukkan pasangan 2:")
print ("hasil survei antara pasangan", a,"dan pasangan", b,"adalah pasangan yang cocok" )

masukkan pasangan 1:iman
masukkan pasangan 2:regan
hasil survei antara pasangan iman dan pasangan regan adalah pasangan yang cocok

rumus

In [ ]:

#studi nilai vtuber peringkat
a = "1"
b = "2"
c = input ("nama vtuber:")
d = input ("nama vtuber:")
print ("hasil surver pringkat", c,"adalah vtuber", b, "dan vtuber", d,"adalah vtuber", a)

jawaban

In [ ]:
#studi nilai vtuber peringkat
a = "1"
b = "2"
c = input ("nama vtuber:")
d = input ("nama vtuber:")
print ("hasil surver pringkat", c,"adalah vtuber", b, "dan vtuber", d,"adalah vtuber", a)

nama vtuber:olie
nama vtuber:risu
hasil surver pringkat olie adalah vtuber 2 dan vtuber risu adalah vtuber 1

#bonus

In [ ]:
# studi kasus pembagian uang bansos

a = 50.0000
b = "kelas masyarakat menengah bahwa"
c = "kelas masyarakat miskin"
d = int(a) / 2
print (b, "mendapatkan uang sebanyak" , d,"uang, dan si", c,"mendapatkan uang sebanyak", d, )

kelas masyarakat menengah bahwa mendapatkan uang sebanyak 25.0 uang, dan si kelas masyarakat miskin mendapatkan uang sebanyak 25.0